<h1>My Bookmarks</h1>
<div class="bg-white">
  (list of the restaurants the bookmarks)
  <div class="restaurant-card">
    <h3>(Restaurant Name)</h3>
    <div class="restaurant-image">
      (#restaurant-image)
    </div>
    <div class="restaurant-info">
      (#restaurant-info)
    </div>
    <a class="btn btn-primary" href="#" role="button">Delete</a>
  </div>
</div>