<div class="back-white">
  <div class="back-white-content">
    <h1>My Bookmarks</h1>
    <div>
      {{#each bookmarks}}
      <div class="restaurant-card">
        <h3><a href="/restaurant/{{this._id}}">{{this.name}}</a></h3>
        <div class="restaurant-image">
          <img src="{{this.picPath}}" alt="">
        </div>
        <div class="restaurant-info">
          {{this.description}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>