
<div class="bg-white">
  <h3>{{restaurant.name}}</h3>
  <p>{{restaurant.address}}</p>
  <form action="/foodie/{{user._id}}/recommendations/new" method="POST">
    <input type="text" name="_id" value="{{restaurant._id}}">
    <textarea rows="4" cols="50" name="comment"></textarea>
    <button type='submit'>Save</button>
  </form>
</div>