<div class="back-white">
  <div id="profile-name">
    <h3>{{ profileUser.username }}</h3>
    <a class="btn btn-primary btn-sm" href="/foodie/:id/settings" role="button">Edit</a>
  </div>
  <div id="profile-userimage">
    (#profile-userimage)
  </div>
  <div id="profile-description">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores quasi, eveniet laboriosam pariatur eligendi vero
    vitae qui optio quis voluptas suscipit aperiam sed. Accusamus veniam explicabo aliquid quo soluta alias eum doloremque
    voluptates non exercitationem odio deserunt nesciunt, iste modi, cupiditate distinctio dolorum expedita quaerat neque
    repellendus corporis consequuntur?
  </div>
</div>
<div id="profile-foodie">
  <h4>I'm a local foodie for:</h4>
  <a class="btn btn-primary btn-sm" href="#" role="button">food1</a>
  <a class="btn btn-primary btn-sm" href="#" role="button">food2</a>
  <a class="btn btn-primary btn-sm" href="#" role="button">food3</a>
</div>
<div id="profile-myrecommend">
  <h4>My recommendations:</h4>
  <div class="google-map-sm">

  </div>
</div>