<h1>My Recommendations</h1>
<div class="bg-white">
  <h4>(+) Add a recommendation</h4>
  (list of the restaurants the user recommended)
  <div class="restaurant-card">
    <h3>(Restaurant Name)</h3>
    <div class="restaurant-image">
      (#restaurant-image)
    </div>
    <div class="restaurant-info">
      (#restaurant-info)
    </div>
  </div>
</div>