<div class="container">
  <div class="tagline">
    <h4>Find the best places to eat, drink in Berlin. Access over 1 million tips from local foodies.</h4>
  </div>
  <div id="index-res">
    {{#each restaurants}}
    <p>{{this.name}}</p>
    <p>{{this.location.coordinates}}</p>
    {{/each}}
  </div>
  <div class="food-categories">
    <ul>
      <li class="food1"><a href="#">food1</a></li>
      <li class="food2"><a href="#">food2</a></li>
      <li class="food3"><a href="#">food3</a></li>
      <li class="food4"><a href="#">food4</a></li>
      <li class="food5"><a href="#">food5</a></li>
      <li class="food6"><a href="#">food6</a></li>
      <li class="food7"><a href="#">food7</a></li>
      <li class="food8"><a href="#">food8</a></li>
      <li class="food9"><a href="#">food9</a></li>
      <li class="food10"><a href="#">food10</a></li>
    </ul>
  </div>
  <div id="index-googlemap"></div>
</div>