body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.white-link {
  color: #fff; }

nav {
  background-color: #000;
  justify-content: space-around;
  padding-top: 5px; }

nav > ul > li {
  display: inline; }

nav > h4 {
  flex-basis: 30%; }

.dropdown {
  display: flex;
  flex-basis: 30%; }

.dropdown button {
  color: white; }

#dropdown-userpic {
  width: 25px;
  height: 25px;
  background-color: #eee;
  margin-top: 5px; }

#dropdown-userpic img {
  object-fit: contain;
  width: 100%; }

nav > ul {
  flex-basis: 50%; }

.on {
  color: #fff;
  background-color: #d64545; }

.off {
  color: #fff;
  background-color: #9c9c9c; }

.bg {
  background-image: url(/images/bg2.jpg);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.back-white {
  background-color: rgba(255, 255, 255, 0.8);
  width: 80vw;
  margin: 0 auto;
  border-radius: 10px; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.tagline {
  text-align: center;
  color: #fff;
  width: 80vw;
  margin: 0 auto;
  padding-top: 20px; }

.food-categories {
  margin: 0 auto; }

.food-categories > ul > li {
  display: inline; }

.food-categories > ul > li > a {
  margin: 3px; }

#index-googlemap {
  width: 90vw;
  height: 70vh;
  background-color: #665656;
  margin: 0px auto;
  z-index: 100; }

.hidden {
  display: none; }

#profile-name {
  text-align: center; }

#profile-userimage {
  width: 250px;
  height: 250px;
  background-color: #333;
  margin: 0 auto; }

#profile-userimage img {
  object-fit: contain;
  width: 100%; }

.restaurant-image {
  width: 200px;
  height: 200px; }

.restaurant-image img {
  object-fit: contain;
  width: 100%; }

#profile-description {
  width: 80%;
  margin: 15px auto;
  font-size: 1.05rem; }

#profile-foodie, #profile-myrecommend {
  width: 80vw;
  margin: 20px auto;
  text-align: center;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.8); }

#description {
  width: 100%; }

.profile-input {
  display: flex; }

.inputfile {
  background: none;
  display: inline;
  padding: 0;
  font-size: 0.8rem;
  flex-basis: 50%; }

.recommend-card {
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px; }

.restaurant-image {
  width: 150px;
  height: 150px; }

.restaurant-image img {
  object-fit: contain;
  width: 100%; }

#restaurant-map {
  width: 200px;
  height: 200px;
  background-color: #333; }

#setting-expert > li {
  display: inline; }

#setting-expert > li > button {
  margin: 3px; }

.setting-label {
  font-size: 1rem; }

.setting-label-username {
  font-size: 1rem;
  margin-left: 14px;
  margin-top: 8px; }

.setting-prifilepic {
  border: 2px solid #9c9c9c;
  width: 100px;
  height: 100px; }

.setting-prifilepic img {
  object-fit: contain;
  width: 100%; }

.google-map-sm {
  width: 250px;
  height: 250px;
  background-color: #333;
  margin: 0 auto; }

.back-white-content {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0; }

.elem-center {
  text-align: center; }

.restaurant-card {
  border-bottom: 1px solid #bbb;
  padding: 15px 0; }

.restaurant-card:last-child {
  border-bottom: none; }

footer {
  text-align: center;
  background-color: #111;
  color: #fff;
  font-size: 0.8rem;
  padding: 8px 0; }

/*# sourceMappingURL=style.css.map */