<div class="bg-white">
  <h3>(Restaurant Name)</h3>
  <div id="restaurant-map">
    (#restaurant-image)
  </div>
  <div class="restaurant-image">
    (#restaurant-image)
  </div>
  <div class="restaurant-info">
    (#restaurant-info)
  </div>
</div>